{% extends 'base.html.twig' %}

{% form_theme wish_form 'bootstrap_5_layout.html.twig' %}


{% block body %}
    <h2>Créer un nouveau voeu</h2>
    <div class="flex justify-content">
        {{ form(wish_form) }}
    </div>
{% endblock %}